body {
  display: grid;
  grid-template-columns: minmax(12em, 1fr) 4fr;
  grid-template-rows: auto 1fr;
  grid-gap: $padding * 2;
  grid-template-areas:
    "header   header"
    "sidebar  main"
    "footer   footer";
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
  justify-self: center;
  max-width: 50em;
}

footer {
  grid-area: footer;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: $padding;
}

.grid-columns {
  display: grid;
  grid-template-columns: repeat( 4, 1fr );
  grid-gap: 0 $padding;
}

.grid-columns-5 {
  display: grid;
  grid-template-columns: repeat( 5, auto );
  grid-gap: $padding;
  justify-items: start;
  justify-content: start;
  margin-bottom: $padding;
}
