// ---------------------------------- \\
//             VARIABLES              \\
// ---------------------------------- \\

$nav-item-height: 3rem;
$nav-item-padding: $half-padding;
$nav-item-line-height: $nav-item-height - ($nav-item-padding * 2);


// ---------------------------------- \\
//              LAYOUT                \\
// ---------------------------------- \\

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: $nav-item-height;
}


// ---------------------------------- \\
//              DISPLAY               \\
// ---------------------------------- \\

nav {
  margin-top: -2px;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  font: $p;

  a {
    height: $nav-item-height;
    line-height: $nav-item-line-height;
    padding: $nav-item-padding;

    &:hover {
      background-color: $nav-background-color;
    }

    & + a {
      border-top: $border;
    }
  }
}
