// ---------------------------------- \\
//             VARIABLES              \\
// ---------------------------------- \\

$list-group-item-height: 3rem;
$list-group-item-padding: $padding;
$list-group-item-line-height: $list-group-item-height - ($list-group-item-padding * 2);
$list-group-item-badge-width: $list-group-item-height;


// ---------------------------------- \\
//              LAYOUT                \\
// ---------------------------------- \\

.list-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(#{$list-group-item-height}, auto);
}

.list-group__item {
  display: grid;
  grid-template-areas: "content add-on";
  align-items: center;
}

.list-group__item-badge,
.list-group__item-icon {
  grid-area: add-on;
  justify-self: end;
  align-self: center;
}

.list-group__item-body {
  grid-area: content;
}


// ---------------------------------- \\
//              DISPLAY               \\
// ---------------------------------- \\

.list-group {
  margin-bottom: calc(#{$padding} - 2px);
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.list-group__item {
  font: $p;
  padding: calc(#{$list-group-item-padding} - 1px) 1rem calc(#{$list-group-item-padding} + 1px);
  transition: all $transition-duration $smooth-ease;

  &:not(:first-of-type) {
    margin-top: -1px;
    border-top: $border;
  }

  &:hover {
    background-color: lighten($lighter-gray, 2%);
  }
}

.list-group__item-badge {
  padding: 0 $half-padding;
  font-size: 75%;
  line-height: 1rem;
  color: #fff;
  background-color: $color-secondary;
  border-radius: $half-padding;

  .list-group__item:hover & {
    text-decoration: underline solid $color-secondary;
  }
}

.list-group__item-icon {
  font-size: 87.5%;
  line-height: 1rem;
  color: $light-text-color;
}

.list-group__item-body {
  padding-bottom: $half-padding;
}
