// ---------------------------------- \\
//             VARIABLES              \\
// ---------------------------------- \\


// ---------------------------------- \\
//              LAYOUT                \\
// ---------------------------------- \\


// ---------------------------------- \\
//            PLACEHOLDER             \\
// ---------------------------------- \\

%panel {
  padding: $padding;
  font: $p;
  color: $darker-gray;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}


// ---------------------------------- \\
//              DISPLAY               \\
// ---------------------------------- \\

.panel {
  @extend %panel;
}
