.has-tooltip {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    top: ($quarter-padding * -1);
    left: 50%;
    content: attr(aria-label);
    font: $label;
    letter-spacing: 0.01em;
    line-height: 1;
    color: #fff;
    padding: ($quarter-padding * 0.25) $quarter-padding ($quarter-padding * 0.75);
    background-color: $black;
    border-radius: $border-radius;
    transform: translate(-50%, -100%);
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transition: all $transition-duration $smooth-ease;
  }

  &:after {
    position: absolute;
    top: $quarter-padding;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border-width: $quarter-padding;
    border-style: solid;
    border-color: $black transparent transparent transparent;
    transform: translate(-50%, -100%);
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transition: all $transition-duration $smooth-ease;
  }

  &:hover {
    &:before,
    &:after {
      opacity: 1;
    }
  }
}
