// ---------------------------------- \\
//             VARIABLES              \\
// ---------------------------------- \\

$input-height: $padding * 2;
$label-height: $input-height * 0.75;
$help-text-height: $label-height;


// ---------------------------------- \\
//              LAYOUT                \\
// ---------------------------------- \\

.form-group {
  display: grid;
  grid-template-rows: $label-height $input-height minmax($help-text-height, auto);
  grid-template-columns: $input-height 1fr $input-height;
  grid-template-areas:
    "label label label"
    "input-left-icon input input-right-icon"
    "help-text help-text help-text";
}

.form-group__label {
  grid-area: label;
}

.form-group__input {
  grid-area: input-left-icon / input-left-icon / input-right-icon / input-right-icon;
}

.form-group__input-icon {
  display: flex;
}

.form-group__input-icon--left {
  grid-area: input-left-icon;
}

.form-group__input-icon--right {
  grid-area: input-right-icon;
}

.form-group__help-block {
  grid-area: help-text;
}


// ---------------------------------- \\
//              DISPLAY               \\
// ---------------------------------- \\

.form-group {
  position: relative;
  margin-bottom: $half-padding;

  &--info {
    .form-group__input {
      border-color: $color-info;
      background-color: lighten($color-info, 45%);
    }

    .form-group__input-icon {
      color: $color-info;
    }
  }

  &--warning {
    .form-group__input {
      border-color: $color-warning;
      background-color: lighten($color-warning, 37%);
    }

    .form-group__input-icon {
      color: $color-warning;
    }
  }


  &--danger {
    .form-group__input {
      border-color: $color-danger;
      background-color: lighten($color-danger, 45%);
    }

    .form-group__input-icon {
      color: $color-danger;
    }
  }


  &--success {
    .form-group__input {
      border-color: $color-success;
      background-color: lighten($color-success, 45%);
    }

    .form-group__input-icon {
      color: $color-success;
    }
  }

  &--disabled .form-group__input-icon {
    color: $gray;
  }
}

.form-group__input {
  display: block;
  padding: 0 $half-padding;
  line-height: $input-height;
  font: $p;
  color: $text-color;
  background-color: $input-background-color;
  border: $border;
  border-radius: $border-radius;
  transition: all $golden-transition-duration $smooth-ease;

  &::placeholder {
    color: $light-text-color;
  }

  &:hover,
  &.form-group__input--hover {
    border-color: lighten($color-secondary, 20%);
  }

  &:focus,
  &.form-group__input--focus {
    background-color: #fff;
    border-color: $color-secondary;
    box-shadow: 0 0 20px -5px $color-secondary;
    outline: none;
  }

  &.disabled,
  &[disabled] {
    background-color: $light-gray;
    border: $dark-border;
    opacity: 0.25;
    cursor: not-allowed;
  }

  &.readonly,
  &[readonly] {
    background-color: transparent;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  &--icon-l {
    padding-left: $input-height;
  }

  &--icon-r {
    padding-right: $input-height;
  }

  &--icon-lr {
    padding-left: $input-height;
    padding-right: $input-height;
  }
}

.form-group__input-icon {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: $light-text-color;

  &--success {
    color: $color-success;
  }

  &--danger {
    color: $color-danger;
  }

  &--required {
    color: $color-info;
    font-size: 0.6em;

    &:before {
      display: block;
      position: absolute;
      top: -4px;
      left: 50%;
      content: "Required";
      font-size: 1.2em;
      color: #fff;
      padding: $quarter-padding;
      background-color: $black;
      border-radius: $border-radius;
      transform: translate(-50%, -100%);
      opacity: 0;
      pointer-events: none;
      transition: all $transition-duration $smooth-ease;
    }

    &:after {
      position: absolute;
      top: 4px;
      left: 50%;
      content: "";
      width: 0;
      height: 0;
      border-width: 4px;
      border-style: solid;
      border-color: $black transparent transparent transparent;
      transform: translate(-50%, -100%);
      opacity: 0;
      pointer-events: none;
      transition: all $transition-duration $smooth-ease;
    }

    &:hover {
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }
}

.form-group__help-block {
  display: inline-block;
  font: $h6;
  line-height: $help-text-height;
  color: $light-text-color;

  &--info {
    color: $color-info;
  }

  &--success {
    color: $color-success;
  }

  &--danger {
    color: $color-danger;
  }
}
