* {
  box-sizing: border-box;
}

html {
  font: $p;
  font-size: $base-font-size;
  text-rendering: optimizeLegibility;
  -webkit-font-smooquarterg: subpixel-antialiased;
  -moz-osx-font-smooquarterg: grayscale;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
  color: $text-color;
}

body {
  // @include grid-lines;
  padding: $padding;
}

a {
  color: $link-color;
  text-decoration: none;
  position: relative;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
  }
}
