* {
  box-sizing: border-box;
}

html {
  font: $p;
  font-size: $base-font-size;
  text-rendering: optimizeLegibility;
  -webkit-font-smooquarterg: subpixel-antialiased;
  -moz-osx-font-smooquarterg: grayscale;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
  color: $text-color;
}

body.show-grid {
  @include grid-lines;
}

header,
aside,
main,
footer {
  padding: $padding;
}

a {
  color: $link-color;
  text-decoration: none;
  position: relative;
  transition: color $transition-duration $smooth-ease;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
  }
}

label {
  display: inline-block;
  font: $label;
  letter-spacing: 0.01em;
}

section {
  padding-bottom: $padding;

  & + & {
    border-top: $border;
    margin-top: -1px;
  }
}

code {
  border: $border;
  background-color: $lighter-gray;
  padding: ($quarter-padding / 2) $quarter-padding;
  border-radius: $border-radius;
  font-family: monospace;
  white-space: pre;
}
