// ---------------------------------- \\
//             VARIABLES              \\
// ---------------------------------- \\

$table-cell-height: $padding * 3;
$condensed-table-cell-height: $padding * 2;


// ---------------------------------- \\
//              DISPLAY               \\
// ---------------------------------- \\

.table {
  display: grid;
  margin: -1px 0 calc(#{$padding} - 1px) 0;
  font: $p;
  line-height: 1;
  background-color: #fff;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  th,
  td {
    padding: $half-padding;
    vertical-align: middle;
  }

  th {
    height: $table-cell-height;
    text-align: left;
    color: $black;
    background-color: $lighter-gray;
    border-bottom: $border;
  }

  td {
    height: $table-cell-height;
  }

  tr:not(:last-of-type) td {
    border-bottom: $border;
  }

  tr:hover td {
    background-color: lighten($lighter-gray, 2%);
  }

  &--striped {
    tr:nth-of-type(even) td {
      background-color: lighten($lighter-gray, 1.25%)
    }

    tr:nth-of-type(odd):hover td {
      background-color: #fff;
    }
  }

  &--condensed {
    th {
      height: $condensed-table-cell-height;
    }

    td {
      height: $condensed-table-cell-height;
    }
  }
}

.table__actions {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-gap: $half-padding;
  margin: $half-padding * -1;
  padding-right: $half-padding;
}
