h1 {
  font: $h1;
  margin-bottom: $padding + $quarter-padding;
  padding-top: $padding;
  letter-spacing: 0.01em;
}

h2 {
  font: $h2;
  margin-bottom: $padding;
  padding-top: $padding * 2;
  letter-spacing: -0.01em;
}

h3 {
  font: $h3;
  text-transform: uppercase;
  margin-bottom: $half-padding + $quarter-padding;
  padding-top: $padding * 2;
  letter-spacing: 0.02em;
}

h4 {
  font: $h4;
  margin-bottom: $half-padding + $quarter-padding;
  padding-top: $padding
}

h5 {
  font: $h5;
  margin-bottom: $half-padding;
  padding: ($padding + ($quarter-padding / 2)) 0 ($quarter-padding / 2);
  letter-spacing: 0.02em;
}

h6 {
  font: $h6;
  margin-bottom: $half-padding;
  padding: calc(#{$padding} + 1px) 0 calc(#{$quarter-padding} - 1px);
  letter-spacing: 0.01em;
}

p {
  font: $p;
  margin-top: -1px;
  margin-bottom: $padding;
  padding-bottom: 1px;
  color: $darker-gray;
}
